h1,
h2,
h3,
p {
  font-family: "roboto", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18;
}

.p-1 {
  font-style: italic;
  font-weight: 500;
}

p.p-2 span.realce {
  font-style: italic;
  font-weight: bold;
  color: blue;
}

.caixa-alta {
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: orange;
}

a {
  font-style: italic;
  font-weight: 700;
  text-decoration: dashed;
  text-decoration-line: underline;
  text-decoration-color: green;
  color: red;
  font-size: 18px;
  text-transform: uppercase;
}
