/* SELETORES: TAGS, IDS E CLASSES */

/* TAGS: todos os elementos que possuirem tal tag, receberam formatação */
/* p {
  color: blueviolet;
} */

h1 {
  color: blue;
}

/* IDS:único,
SERVE PARA IDENTIFICAR TAG ESPECÍFICA */

#p-id {
  color: rgb(255, 0, 0);
}

/* Bloco 1 IDS */
#p1,
#p2,
#p3 {
  font-size: 30px;
  color: rgb(255, 0, 0);
}

/* CLASS: POSSO COLOCAR A MESMA CLASS EM VÁRIOS ELEMENTOS E RECEBEREM A MESMA FORMATAÇÃO */

.p-class {
  color: orange;
}

/* Bloco 2 Class */
.p {
  font-size: 30px;
  color: orange;
}

/* SPAN */

/*TODO SPAN DA PÁGINA:
 span {color: aqua;}  */

/* TODO PARAGRAFO QUE TIVER UM SPAN SERÁ FORMATADO: */
p span {
  color: green;
}

/* TODA SPAN QUE TEM UMA SPAN COM A CLASS SPAN-CLASS SERÁ FORMATADA.  */
span .span-class {
  color: palevioletred;
}

/* TODO PARAGRAFO QUE TIVER UMA SPAN QUE TEM A CLASS P-S-C SERÁ FORMATADO. */
p span.p-s-c {
  color: blue;
}
