/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(64, 64, 64);
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
}

/* a:link,
:visited {

} */

/* CABEÇALHO */

.cabeçalho {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  padding:1.6rem 3.12rem ;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1);
}
/* temporário */
nav {
  display: none;
}

nav ul {
  list-style: none;
}

.links-cabeçalho {
  text-decoration-line: none;
  color: rgb(17, 46, 97);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

.links-cabeçalho:hover,:active {
  color: #f60;
}

.links-cabeçalho.triangulo::after {
  content: "\25be";
}

.p-hero {
  font-size: 1.8rem;
  font-weight: 400;
}

.botão-hero {
  font-size: 2.4rem;
  text-decoration-line: none;
  font-weight: 700;
}



/* SEÇÃO CONTEÚDOS GRATUITOS */

.treinamentos-programação {
  /* color: rgb(255, 255, 255); */
  font-size: 2.4rem;
  font-weight: 700;
}

.links-conteúdos-gratuitos {
  font-size: 1.8rem;
  text-decoration-line: none;
}



/* SEÇÃO DIFERENCIAIS */

.diferenciais-p {
  font-size: 1.4rem;
}

.diferenciais-bold {
  font-weight: 700;
}

.h3-empresas {
  font-weight: 400;
}

.link-empresas {
  color: rgb(0, 94, 136);
  font-weight: 600;
  text-decoration-line: none;
}

/* SEÇÃO O QUE FALAM */
/* .h2-branco {

} */

.h2-realce {
  font-weight: 600;
  
}

.ver-mais-depoimentos {
  font-size: 2.4rem;
  font-weight: 600;
}

/* SEÇÃO MÍDIA */

/* SEÇÃO BLOG */

.p-com-link {
  font-size: 1.4rem;
}

.link-realce-midia {
  color: #f7a70c;
  font-size: 1.4rem;
  font-weight: 600;
}

.none {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
}

/* SEÇÃO COMO AJUDAR */
/* .h2-branco {
  color: #ffffff; }  Usei essa Class acima, como varios h2 tem os mesmo atributos que é a cor branca, usei uma unica class para todos.*/

.enfase-hashtag {
  font-weight: 600;
}

.li-ajudar {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(64, 64, 64);
}

.cor-d-link {
  color: #008ff7;
}

.p-19px {
  font-size: 1.8rem;
}
.p-19px b {
  font-weight: 600;
}
.cor-d-link-2 {
  color: #008ff7;
  font-weight: 600;
}

/* SEÇÃO MINICURSO */

.mini-curso {
  font-weight: 600;
}

.p-branco {
}

/* .p-cadastro {campos de preenchimento} */

.p-branco-b {
  font-weight: 600;
}

/* RODAPÉ */
.rodapebold {
  font-weight: 600;
}

.rodapepx {
  font-size: 1.8rem;
}

.rodapepx2 {
  font-weight: 600;
}

.azul-link {
  color: #1a77a4;
}
