.eu {
    
    display: inline-block;
    background-color: rgb(20, 20, 120);
    color: #fff;
    padding: 1rem 2rem ;
    border-radius: 2rem;
    box-shadow: 5rem 5rem 5rem ;
}

 .centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.centralizando {
    display: flex;
    justify-content: center;
    align-items: center;

}

.teste {
    
    background-color: pink;
    padding: 1rem ;
    border-radius: 2rem;
    
}

.esconder {
    list-style: none;
}

.div-ul {
    display: inline-block;
    background-color:blue;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;

}

.div-ul a:hover,:active {
    color: #f60;
}

.ff {
    display: flex;
    justify-content: center;
    align-items: center;
}