* {
    font-family: Mountserrat, sans-serif;
    color: #404040;
}
    p {
        font-size: 19.2px;
        font-weight: 400;
    }

    h2 {
        font-size: 27.6px;
        font-weight: 400;
    }

    h3{
        font-size: 23px;
    }
    .p-16px-400w {
    font-size:16px;
    font-weight:400;
    } 

    strong {font-weight: 600;}

     /* .span-white-600w {
    color: #fff;
    font-weight:600;
    }  */

    /* .h2-white {
        color: #fff;
        font-weight: 400;
    }   */

    /* !SECTION - CABEÇALHO */

.links-cabeçalho a  {
    color: #112e61;
    font-size: 14px;
    text-transform:uppercase;
    text-decoration: none;
    font-weight: 600;
}

/* !SECTION - HERO */

h1 {
    font-size: 35px;
    font-weight: 600;

}

.hero-links {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    /* color: #ffffff; */
}

/* !SECTION - CONTEÚDOS FREE*/

.section-free {
    color: #7a40be;
    font-weight: 600;
}

.h3-section-free {
    font-size:23px ;
    font-weight: 700;
    /* color: #fff; */
}

.text-decoration-none {
    text-decoration: none;
    font-size: 19px;
}

/* !SECTION - DIFERENCIAIS */

/* .p-white {
    color: #fff;
} */

.h3-color {
    color: #005e88;
    font-weight: 600;
}

.link-Empresas {
    color: #005e88;
    text-decoration: none;
    font-weight: 700;
}

/* !SECTION - O QUE FALAM */

.link-white {
/* color: #fff; */
font-weight: 700;
font-size: 24px;
text-decoration: none;
}

/* !SECTION - NA MÍDIA */



/* !SECTION - BLOG */
.link-blog {
color: #f7a70c;
text-decoration: none;
font-size: 13.3px;
font-weight: 600;
}

.p-13px {
    font-size:13.3px;
}

.a-23px-blog {
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
}

/* !SECTION - COMO A HASHTAG PODE AJUDAR */

.ul-19px {
    font-size: 19.2px;
}

.links-section-help {
    text-decoration-line:underline ;
    color: #008ff7;
    font-weight: 600;
}

/* !SECTION - FREE MINICURSO */

.label-white {
    font-weight: 400;
    /* color: #fff; */
}

.button-golden {
    color: #fff;
    background-color: #ffba29 ;
}

/* !SECTION - FOOTER */

.p-23px-600w {
    font-size: 23px;
    font-weight: 600;
}

.p-19px-600w {
    font-size: 19.2px;
    font-weight: 600; }

.p-16px-600w {
    font-size: 16px;
    font-weight: 600;
}

.links-footer {
    color: #1A77A4;

}

.button-blue {
    color: #fff;
    background-color: #1a77a4;
}